<ul class="breadcrumb">
  <li>
    <%= link_to('Categories', categories_path) %> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to(@category, category_path(@category)) %> <span class="divider">/</span>
  </li>
  <li class="active">
    <strong><%= plural_resource %></strong>
  </li>
</ul>

<% if admin_signed_in? %>
<div class="btn-group">
  <%= link_to(raw("New #{singular_resource} &raquo;"), new_resource_path, :class => 'btn primary') %>
</div>
<% end %>

<%=
  collection_table(collection, :class => 'table table-striped') do |t|
    t.header :name

    t.rows.each do |row, item, index|
      row.name link_to(item, resource_path(item))
    end
  end
%>
